@import './element-ui.scss';
@import './common.scss';
@import './var.scss';

body {
  height: 100%;
  min-width: 1400px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.app-wrapper {
  height: 100%;
}

.el-container {
  background-color: $base_bg;
}

// main-container global css
.app-container {
  // padding: 20px;
}

.headerTop {
  // background: url('../assets/bg-header.png');
  background-color: $base_bg;
  height: 56px;

  .title_logo {
    padding: 10px;
    a {
      width: auto;
      margin:0 10px;
    }
    img {
      vertical-align: middle;
      height: 35px;
      // width: 100%;
    }
    .title_logo_desc {
      color: rgb(16, 26, 73);
    }
    .title_project_wrap {
      margin-left: 20px;
      font-size: 14px;

      img {
        height: 18px;
        width: 18px;
        vertical-align: bottom;
      }
    }
  }

  .menu_main {
    border-right: 1px solid #e6e6e6;

    .menu_user {
      // border-bottom: 2px solid transparent;
      overflow: hidden;
      height: 56px;
      display: flex;
      justify-content: space-between;

      .menu_item_wrap {
        .el-menu {
          border-right: none;
          .el-menu-item {
            color: $base_color;
            a {
              color: $base_color;
            }
            &.is-active {
              a {
                color: $base_hover;
                background-color: transparent;
              }
            }
            &:hover {
              a {
                color: $base_hover;
              }
            }
          }
        }
        .el-menu--horizontal
          > .menu-wrapper
          .el-submenu
          .el-submenu__title:hover {
          i {
            color: $base_color;
          }
        }
      }

      .login_header_desc {
        padding-top: 5px;
        color: $base_color;
        .isLogin {
          .el-dropdown-link {
            color: $base_color;
          }
        }
      }
    }
  }
}
.wrapper {
  .menu_item_wrap .ml-horizontal-menu-content ul {
    justify-content: center;
    .el-menu-item {
      padding: 0 30px;
    }
  }
}
.el-menu--popup {
  background-color: $base_bg;
}
.el-menu--horizontal .el-menu .menu-wrapper .el-menu-item a {
  color: $base_color;
  &:hover {
    color: $base_hover;
  }
}
.asideMenu {
  overflow: hidden;
  // background: url('../assets/bg-nav.png') no-repeat;
  // background-size: 100% 100%;
  overflow: auto;
  background: $base_bg;
  padding-top: 22px;

  .el-menu {
    border: none;
    background-color: transparent;
  }

  .el-submenu [class^='el-icon-'] {
    margin-right: 11px;
  }

  .el-menu-item:focus,
  .el-menu-item:hover {
    background-color: transparent;
  }

  .el-submenu__title:hover {
    background-color: transparent;
  }

  .el-menu-item,
  .el-submenu__title {
    color: $base_color;
    line-height: 46px;
    height: 46px;
  }

  .el-menu-item i,
  .el-submenu__title i {
    color: $base_color;
  }

  .el-menu-item.is-active {
    // background: url('../assets/bg-nav-active.png') no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    color: $base_hover;
  }
}

.el-main {
  // padding: 0 20px;
  padding: 0;
  flex-basis: 0;
  background-color: #f5f8fa;
  border-radius: 30px 0 0px 30px;
  height: calc(100vh - 56px);
}

.align_center {
  text-align: center;
}

.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

.main_container_aside {
  width: 100%;
  height: calc(100vh - 126px);
  overflow: auto;
  display: flex;

  .el-aside {
    background-color: #fff;
  }

  .el_container {
    background-color: #fff;
    margin-left: 20px;
  }
}

.main_container {
  width: 100%;
  background: #fff;
  padding: 0px 40px 0 20px;
  height: calc(100vh - 126px);
  overflow: auto;
  // display: flex;
  // overflow-y: auto;
  // .table_wrap {
  //   height: calc(100vh - 210px);
  //   background: #fff;
  // }

  // .el-table {
  //   margin-top: 5px;
  //   // height: calc(100vh - 215px);
  //   height: calc(100vh - 170px);
  // }

  .el-table__body-wrapper {
    height: 100%;
  }
}

.wrap_tree_content {
  overflow: hidden;
  width: 100%;
}

.page_center {
  text-align: center;
  margin-bottom: 20px;
}

.page_right {
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
//     background-color: rgb(255, 255, 255);
//     border-radius: 3px;
// }

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  min-height: 28px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 2px;
}

#addBtn {
  position: relative;
  right: 0;
}

.el-menu-item [class^='el-icon-'] {
  font-size: 16px;
  margin-right: 10px;
}

.el-button--plain {
  color: #2663ff;
  background: #f2f6ff;
  border-color: #2663ff;
  padding: 7px 20px;
  border-radius: 6px;
}

.el-button--plain:focus,
.el-button--plain:hover {
  color: #2663ff;
  background: #f2f6ff;
  border-color: #2663ff;
}

.el-button--plain.is-active,
.el-button--plain:active {
  color: #2663ff;
  background: #f2f6ff;
  border-color: #b3d8ff !important;
}

.el-table-column--selection .cell {
  padding-right: 10px;
}

.el-dialog__footer {
  text-align: center;

  .el-button {
    padding: 7px 20px;
  }

  .el-button:first-of-type {
    margin-right: 50px;
  }
}

.form_tips {
  position: relative;
  margin-top: 10px;

  .file_down {
    position: absolute;
    left: -70px;
    top: -105px;
    text-align: center;
    cursor: pointer;

    p {
      padding: 0;
      margin: 0;
      color: #606266;
    }
  }
}

.in_dialog {
  .el-dialog__body {
    padding: 30px 50px;
  }
}

.span-box {
  position: relative;

  .el-icon-question {
    position: absolute;
    top: 2px;
  }
}

.el-upload {
  width: 100%;

  .el-upload-dragger {
    width: 100%;
    height: 130px;

    .el-icon-upload {
      margin: 20px 0 16px;
    }
  }
}

.el-notification {
  &.info_tips {
    font-size: 12px;
    width: 510px;

    .el-icon-info {
      color: #2663ff;
    }
  }
}
// 审批流样式
.norm_section_audit {
  border: 1px solid #f0f0f0;
  width: 100%;

  .norm_audit_header {
    padding: 10px 20px;
    background-color: #f5f8fa;
  }

  .norm_audit_main {
    padding: 7px 30px;
    display: flex;
    flex-basis: 0;

    .people_wrap {
      flex: 1;
      overflow-x: auto;
      overflow-y: hidden;
      // height: 233px;
      padding-bottom: 10px;

      ul {
        list-style: none;
        overflow: hidden;
        // margin: 0;
        margin: 0 auto;
        padding: 0;

        li {
          float: left;
          display: flex;
          width: 254px;
          flex-direction: column;
          font-size: 14px;
          position: relative;
          align-items: center;
          // margin-right: 100px;

          p {
            padding: 0;
            margin: 2px 0;

            &:nth-of-type(1) {
              height: 100px;
              width: 100px;
              border-radius: 50%;
              position: relative;
              padding: 5px;

              &.pass {
                border: 1px solid #6fd671;

                .avatar {
                  background-color: #6fd671;
                }
              }

              &.reject {
                border: 1px solid red;

                .avatar {
                  background-color: red;
                }

                &::after {
                  position: absolute;
                  content: '';
                  height: 1px;
                  width: 158%;
                  left: 100%;
                  top: 50%;
                  background: red;
                }
              }

              &::after {
                position: absolute;
                content: '';
                height: 1px;
                width: 158%;
                left: 100%;
                top: 50%;
                background: #6fd671;
              }

              &.no_line::after {
                background: #fff;
              }

              img {
                width: 100%;
                border-radius: 50%;

                &.icon_tips {
                  width: 30px;
                  position: absolute;
                  right: 0;
                  bottom: 0;
                }
              }

              .avatar {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                text-align: center;
                line-height: 92px;
                font-size: 27px;
                color: #fff;

                &.pass {
                  background-color: #6fd671;
                }
                &.annul{
                  border: 1px solid #335CFF;
  
                  .avatar {
                    background-color: #335CFF;
                  }
                }
                &.reject {
                  background-color: red;
                }
              }

              &.add_item {
                border: 1px solid #FFAE0D;

                .avatar {
                  background-color: #FFAE0D;
                }
              }

              &.other {
                border: 1px solid #808080;

                &.pass {
                  border: 1px solid #6fd671;

                  .avatar {
                    background-color: #6fd671;
                    color: #fff;
                  }
                }

                &.add_item {
                  border: 1px solid #FFAE0D;
  
                  .avatar {
                    background-color: #FFAE0D;
                  }
                }

                .avatar {
                  color: #808080;
                  font-size: 22px;
                }

                &::after {
                  position: absolute;
                  content: '';
                  height: 1px;
                  width: 158%;
                  left: 100%;
                  top: 50%;
                  background: #808080;
                }

                &.no_line {
                  &::after {
                    position: absolute;
                    content: '';
                    height: 0px;
                    width: 158%;
                    left: 100%;
                    top: 50%;
                    background: #808080;
                  }
                }
              }
            }
          }

          /* &:last-of-type {
            margin-right: 0;
          } */
        }
      }
    }

    .audit_result {
      img {
        margin-top: 30px;
      }
    }
  }
}
